body {
  margin: 0; }

.row {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex; }

.col-1 {
  -webkit-flex: 0 0 8.3333333333%;
  -moz-flex: 0 0 8.3333333333%;
  -ms-flex: 0 0 8.3333333333%;
  -o-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 100%; }

.col-2 {
  -webkit-flex: 0 0 16.6666666667%;
  -moz-flex: 0 0 16.6666666667%;
  -ms-flex: 0 0 16.6666666667%;
  -o-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 50%; }

.col-3 {
  -webkit-flex: 0 0 25%;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  -o-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 33.3333333333%; }

.col-4 {
  -webkit-flex: 0 0 33.3333333333%;
  -moz-flex: 0 0 33.3333333333%;
  -ms-flex: 0 0 33.3333333333%;
  -o-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 25%; }

.col-5 {
  -webkit-flex: 0 0 41.6666666667%;
  -moz-flex: 0 0 41.6666666667%;
  -ms-flex: 0 0 41.6666666667%;
  -o-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 20%; }

.col-6 {
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  -o-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 16.6666666667%; }

.col-7 {
  -webkit-flex: 0 0 58.3333333333%;
  -moz-flex: 0 0 58.3333333333%;
  -ms-flex: 0 0 58.3333333333%;
  -o-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 14.2857142857%; }

.col-8 {
  -webkit-flex: 0 0 66.6666666667%;
  -moz-flex: 0 0 66.6666666667%;
  -ms-flex: 0 0 66.6666666667%;
  -o-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 12.5%; }

.col-9 {
  -webkit-flex: 0 0 75%;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  -o-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 11.1111111111%; }

.col-10 {
  -webkit-flex: 0 0 83.3333333333%;
  -moz-flex: 0 0 83.3333333333%;
  -ms-flex: 0 0 83.3333333333%;
  -o-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 10%; }

.col-11 {
  -webkit-flex: 0 0 91.6666666667%;
  -moz-flex: 0 0 91.6666666667%;
  -ms-flex: 0 0 91.6666666667%;
  -o-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 9.0909090909%; }

.col-12 {
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  -o-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 8.3333333333%; }

.container-fuild {
  width: 100%; }

.image-block {
  position: relative;
  list-style-type: none;
  width: 70%;
  padding-bottom: 81%;
  margin-left: 14%;
  float: left;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg); }

.image-item {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility: hidden; }

.image-block .image-item {
  position: absolute;
  visibility: visible; }

.image-block img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto; }

.image-block-fluid {
  width: 100%;
  overflow: hidden;
  display: inline-block; }

.container {
  margin: auto;
  padding: 0;
  width: 60%;
  height: auto;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 2px #ada7a7;
  -moz-box-shadow: 2px 2px 5px 2px #ada7a7;
  -ms-box-shadow: 2px 2px 5px 2px #ada7a7;
  -o-box-shadow: 2px 2px 5px 2px #ada7a7;
  box-shadow: 2px 2px 5px 2px #ada7a7; }

.container-block {
  background-color: #dddddd;
  padding: 10px 0; }

.content-left {
  background: #2c3144;
  padding: 20% 0; }

.image-frame-block {
  position: relative; }

.image-frame-block > *:first-child img {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=style.css.map */
